## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
0,2,Vaini,TO,78.96,-21.2000,-175.2000,broken clouds,Keleti Beach Resort
1,11,Jinchang,CN,83.10,38.4953,102.1739,few clouds,Mingshihui Jinchang International Hotel
2,20,Ugoofaaru,MV,81.95,5.6667,73.0000,scattered clouds,Ungoofaaru Inn
3,25,Pokhara,NP,86.14,28.2333,83.9833,overcast clouds,OYO 170 Hotel View Point
4,29,Palauig,PH,85.51,15.4350,119.9045,broken clouds,Villa Raphael Resort

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Asyut"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Asyut"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Sakakah"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hit"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Aligudarz"]
vacation_start

,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
232,692,Asyut,EG,84.09,27.181,31.1837,clear sky,فندق ميس إيجيبت Miss Egypt Hotel

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(map(tuple,(vacation_start[['Lat', 'Lng']].to_numpy())))[0]
end = tuple(map(tuple,(vacation_end[["Lat", "Lng"]].to_numpy())))[0]
stop1 = tuple(map(tuple,(vacation_stop1[["Lat", "Lng"]].to_numpy())))[0]
stop2 =  tuple(map(tuple,(vacation_stop2[["Lat", "Lng"]].to_numpy())))[0]
stop3 = tuple(map(tuple,(vacation_stop3[["Lat", "Lng"]].to_numpy())))[0]
print(start, end, stop1, stop2, stop3)

(27.181, 31.1837) (27.181, 31.1837) (29.9697, 40.2064) (33.6416, 42.8251) (33.4006, 49.6949)

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start2end = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
0,692,Asyut,EG,84.09,27.1810,31.1837,clear sky,فندق ميس إيجيبت Miss Egypt Hotel
1,314,Sakakah,SA,89.17,29.9697,40.2064,clear sky,Fakhamat Al Orjoana Apartment
2,366,Hit,IQ,89.74,33.6416,42.8251,clear sky,ࢪُبَمـا ؏ُـمَـࢪ
3,547,Aligudarz,IR,78.66,33.4006,49.6949,clear sky,آسمان آبی
4,692,Asyut,EG,84.09,27.1810,31.1837,clear sky,فندق ميس إيجيبت Miss Egypt Hotel

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))